@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Comme:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Dongle&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jockey+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Murecho:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Murecho", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image.png);
    background-repeat: no-repeat ;
    background-size: cover;
    color: #ddd4c3;
    font-size: 18px;
    width: 100%;
    height: 100vh;
}
.todo-container{
    border: #E86501 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    min-height: 500px;
    padding: 50px 60px;
    background-color: #121212;
    border-radius: 15px;
}
.todo-title{
    margin-bottom: 20px;
    font-size: 45px;
    background: linear-gradient(90deg, #743403, #ff6f00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.input-group{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    gap: 10px;
}
#todo-input{
    padding: 5px;
    width: 90%;
    font-size: 18px;
    background-color: #363636;
    color: #ddd4c3;
    border-radius: 10px;
    border: none;
}
#todo-input:focus{
    border: #363636 2px solid;
    outline: none;
}
#todo-list{
    width: 100%;
}
.todo-item{
    list-style-type: none;
    margin: 10px auto;
    border-bottom: #363636 1px solid;
    width: 90%;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
#add-button,#delete-button {
    padding: 5px 15px;
    font-size: 18px;
    background-color: #E86501;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#add-button:hover,#delete-button:hover {
    background-color: #a3561b;
    transform: scale(1.05);
}
@media (max-width:470px) {
    .input-group{
        flex-direction: column;
    }
    .todo-container{
        max-width: 80%;
    }
    #todo-input{
        width: 100%;
    }
}
@media (max-width:470px) {
    .todo-container{
        max-width: 90%;
    }
}
